.signinPage {
  display: flex;
  width: 100%;
  height: 100vh;
}
.signin-leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 4rem;
}
.signin-heading{
      color: var(--dark-yellow);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.signin-leftside .forgot{
padding-top: 2rem;
padding-bottom: 30px;
color: #373737;
font-size: 1.1rem;
font-weight: 600;
text-decoration-line: underline;
}
.signin-rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48.03981rem;
  color: var(--primary-white);
  gap: 2.24rem;
  background-image: url("../../assets/Images/Sign\ in.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.signin-rightside h1{
font-size: 2.5rem;
}