.customInput {
  display: flex;
  width: 26.031rem;
  height: 3.913rem;
  padding: 1rem 2rem 1rem 1.5rem;
  gap: 1.364rem;
  background: #F4F8F5;
  margin-top: 1.09rem;

}
.customInput img{
width: 2rem;
height: 2rem;
}
.customInput input{
    border: none;
    background:none;
    width: 20rem;
    outline: none;
    color: #7f7f7f;
    font-size: 1rem;
    font-weight: 600;
    
}