.itemCard_main {
  width: 19.30194rem;
  height: 19.60925rem;
  border-radius: 1.22944rem;
  border: 0.984px solid #b6b6b6;
  overflow: hidden;
  position: relative;
}
.heart_container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #b3d4e5;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.favourited {
  background: #f36a90;
}
.hear_container img {
  width: 1rem;
  height: 1rem;
}
.card_image_section {
  width: 100%;
  height: 60%;
}
.card_image_section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card_content_section {
  width: 100%;
  height: 40%;
  padding: 0.875rem;
}
.item_name,
.item_price {
  color: var(--dark-blue);
  font-size: 1.06838rem;
  font-weight: 500;
}
.item_price {
  margin-top: 0.875rem;
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}
